<html>
  <head>
  </head>
  <body >
    <div>
      <h1>myV&A</h1>
      <h2>A space to explore the V&A's archive of artefacts in an online gallery</h2>
      <ul>
        <li>Save artefacts to your own collection</li>
        <li>Explore art interactively</li>
      </ul>
      <a href="/signup"><h3>Get started</h3></a>
      <a href="/login"><h3>Login</h3></a>
    </div> 
  </body>
</html>