<html>
  <head>
  </head>
  <body>
    <h1>Search artefacts by location</h1>
    <a href="/search/London" ><h2>London</h2></a>
    <a href="/search/Amsterdam" ><h2>Amsterdam</h2></a>
    <%if @item_list != nil%>
      <%@item_list.each do |item|%>
        <div>
          <h2><%=item['name']%></h2>
          <h2><%=item['type']%></h2>
          <h3><%=item['date']%></h3>
          <img src="https://framemark.vam.ac.uk/collections/<%=item['imageID']%>/full/!800,800/0/native.jpg">
        </div>
      <%end%>
    <%end%>


  </body>
</html>