<html>
  <head>
  </head>
  <body >
    <div>
      <h1>Interact</h1>
      <a href="/signup"><h3>Watch your images come to life with our generative art templates</h3></a>
      <a href="/signup"><h3>Play with 3D artefacts</h3></a>
    </div> 
  </body>
</html>