<html>
  <head>
    <style>
      body {
      margin: 0;
      padding: 0;
      }
      .container {
        display: flex;
      }
      .icon {
        width: 120px;
        height: auto;
        max-width: none;
        padding: 60px;
      }
      .button {
        border: none;
        text-decoration: none;
        color: black;
        position: absolute;
        bottom: 60;
        font-size: 20px;
        background: none;
      }
      .navbar {
        width: 300px;
        height: 100vh;
        border-right: 2px solid lightgrey;
        position: relative;
        position: sticky;
        top: 0;
        z-index: 1;
      }
      .nav-panels {
        padding-left: 60px;
      }
      .nav-text {
        display: block;
        margin-bottom: 20px;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-family: Arial, sans-serif;
      }
      .nav-text.hover {
        cursor: pointer;
      }
      .content {
        padding: 50px;
        top: 0;
      }
      .img {
        width: 100px;
      }
    </style>
  </head>
  <body >
    <div class="container">
      <div class="navbar">
        <img class="icon" src='/myVA_icon2.png'/>
        <div class="nav-panels">
          <a class="nav-text" href="/login">Home</a><br>
          <a class="nav-text" href="/my-collection">My collection</a><br>
          <a class="nav-text" href="/search">Search the archive</a><br>
          <form class="form" action="/logout" method="POST">
            <input class="button" type="submit" name="submit" value="Logout"><br>
          </form>
        </div>
      </div> 
      <div class="content">
        <div>
          <h1>My Collection</h1>
        </div> 
        <div class="image-container">
          <%if @my_artefacts != nil%>
            <%@my_artefacts.each do |item|%>
              <div>
                <h2><%=item.title%></h2>
                <h2><%=item.object_type%></h2>
                <h3><%=item.time_period%></h3>
                <img src="https://framemark.vam.ac.uk/collections/<%=item.image_id%>/full/!800,800/0/native.jpg">
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
    </div>
  </body>
</html>