<html>
  <head>
  </head>
  <body>
    <h1>Search the archive</h1>
    <form class="form" action="/search" method="POST">
      <input type="text" id="keyword" name="keyword">
      <input type="submit" name="Search"><br>
    </form>

    <%if @item_list != nil%>
      <%@item_list.each do |item|%>
        <div>
          <h2><%=item['name']%></h2>
          <h2><%=item['type']%></h2>
          <h3><%=item['date']%></h3>
          <img src="https://framemark.vam.ac.uk/collections/<%=item['imageID']%>/full/!800,800/0/native.jpg">
        </div>
      <%end%>
    <%end%>

  </body>
</html>