<html>
  <head>
  </head>
  <body >
    <div>
      <h1>Signup</h1>
      <form class="form" action="/signup" method="POST">
        <label for="username">Username</label><br>
        <input type="text" id="username" name="username"><br><br>

        <label for="email">Email</label><br>
        <input type="text" id="email" name="email"><br><br>

        <label for="passkey">Password</label><br>
        <input type="text" id="passkey" name="passkey"><br><br>

        <input type="submit" name="Submit"><br>
      </form>
    </div> 
  </body>
</html>