<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.6.0/lib/p5.js"></script>
    <style>
      #sketch-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 600px;
        margin: 20px auto;
        border: 2px solid red;
      }
    </style>
  </head>
  <body >
    <img id="original-image" src="https://upload.wikimedia.org/wikipedia/commons/0/0f/1665_Girl_with_a_Pearl_Earring.jpg" style="width: 200px"/><br>
    <img id="styled-image" src=""/>
    <a><h2>click me</h2></a>
    <img src="/anna.jpeg">
    <div id="sketch-container"></div> 
    
    <script src="/abstract.js">

    </script>
    
  </body>
</html>